In [3]:
# !wget https://rrgtfsfeeds.s3.amazonaws.com/gtfs_subway.zip
# !wget https://rrgtfsfeeds.s3.amazonaws.com/gtfs_supplemented.zip

--2025-01-15 20:47:18--  https://rrgtfsfeeds.s3.amazonaws.com/gtfs_subway.zip
Resolving rrgtfsfeeds.s3.amazonaws.com (rrgtfsfeeds.s3.amazonaws.com)... 16.182.73.57, 52.216.185.99, 16.182.101.9, ...
Connecting to rrgtfsfeeds.s3.amazonaws.com (rrgtfsfeeds.s3.amazonaws.com)|16.182.73.57|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5745248 (5.5M) [application/zip]
Saving to: ‘gtfs_subway.zip’

gtfs_subway.zip     100%[===================>]   5.48M  5.60MB/s    in 1.0s

2025-01-15 20:47:20 (5.60 MB/s) - ‘gtfs_subway.zip’ saved [5745248/5745248]

--2025-01-15 20:47:20--  https://rrgtfsfeeds.s3.amazonaws.com/gtfs_supplemented.zip
Resolving rrgtfsfeeds.s3.amazonaws.com (rrgtfsfeeds.s3.amazonaws.com)... 52.216.207.83, 52.216.185.99, 16.182.101.9, ...
Connecting to rrgtfsfeeds.s3.amazonaws.com (rrgtfsfeeds.s3.amazonaws.com)|52.216.207.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17689460 (17M) [application/zip]
Saving to: ‘gtfs_supplemented.zip’

gtfs_supplemented.z 100%[===================>]  16.87M  12.2MB/s    in 1.4s

2025-01-15 20:47:22 (12.2 MB/s) - ‘gtfs_supplemented.zip’ saved [17689460/17689460]

In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv("gtfs_subway/agency.txt")
df

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,MTA NYCT,MTA New York City Transit,http://www.mta.info,America/New_York,en,718-330-1234

In [4]:
df = pd.read_csv("gtfs_subway/calendar.txt")
df

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,Sunday,0,0,0,0,0,0,1,20250118,20250518
1,Saturday,0,0,0,0,0,1,0,20250118,20250518
2,Weekday,1,1,1,1,1,0,0,20250118,20250518
3,Weekday-1,1,1,1,1,1,0,0,20250118,20250214
4,Weekday-2,1,1,1,1,1,0,0,20250218,20250518

In [5]:
df = pd.read_csv("gtfs_subway/routes.txt")
df

,agency_id,route_id,route_short_name,route_long_name,route_type,route_desc,route_url,route_color,route_text_color
0,MTA NYCT,1,1,Broadway - 7 Avenue Local,1,Trains operate between 242 St in the Bronx and...,http://web.mta.info/nyct/service/pdf/t1cur.pdf,EE352E,NaN
1,MTA NYCT,2,2,7 Avenue Express,1,"Trains operate between Wakefield-241 St, Bronx...",http://web.mta.info/nyct/service/pdf/t2cur.pdf,EE352E,NaN
2,MTA NYCT,3,3,7 Avenue Express,1,"Trains operate between 148 St, 7 Av, Manhattan...",http://web.mta.info/nyct/service/pdf/t3cur.pdf,EE352E,NaN
3,MTA NYCT,4,4,Lexington Avenue Express,1,Trains operate daily between Woodlawn/Jerome A...,http://web.mta.info/nyct/service/pdf/t4cur.pdf,00933C,NaN
4,MTA NYCT,5,5,Lexington Avenue Express,1,"Weekdays daytime, most trains operate between ...",http://web.mta.info/nyct/service/pdf/t5cur.pdf,00933C,NaN
5,MTA NYCT,5X,5X,Lexington Avenue Express,1,"Weekdays daytime, most trains operate between ...",http://web.mta.info/nyct/service/pdf/t5cur.pdf,00933C,NaN
6,MTA NYCT,6,6,Lexington Avenue Local,1,Local trains operate between Pelham Bay Park/B...,http://web.mta.info/nyct/service/pdf/t6cur.pdf,00933C,NaN
7,MTA NYCT,6X,6X,Pelham Bay Park Express,1,Express trains operate between Pelham Bay Park...,http://web.mta.info/nyct/service/pdf/t6cur.pdf,00933C,NaN
8,MTA NYCT,7,7,Flushing Local,1,"Trains operate between Main St-Flushing, Queen...",http://web.mta.info/nyct/service/pdf/t7cur.pdf,B933AD,NaN
9,MTA NYCT,7X,7X,Flushing Express,1,"Trains operate between Main St-Flushing, Queen...",http://web.mta.info/nyct/service/pdf/t7cur.pdf,B933AD,NaN
10,MTA NYCT,A,A,8 Avenue Express,1,"Trains operate between Inwood-207 St, Manhatta...",http://web.mta.info/nyct/service/pdf/tacur.pdf,2850AD,FFFFFF
11,MTA NYCT,B,B,6 Avenue Express,1,"Trains operate, weekdays only, between 145 St,...",http://web.mta.info/nyct/service/pdf/tbcur.pdf,FF6319,NaN
12,MTA NYCT,C,C,8 Avenue Local,1,"Trains operate between 168 St, Manhattan, and ...",http://web.mta.info/nyct/service/pdf/tccur.pdf,2850AD,FFFFFF
13,MTA NYCT,D,D,6 Avenue Express,1,"Trains operate, at all times, from 205 Street,...",http://web.mta.info/nyct/service/pdf/tdcur.pdf,FF6319,NaN
14,MTA NYCT,E,E,8 Avenue Local,1,Trains operate between Jamaica Center (Parsons...,http://web.mta.info/nyct/service/pdf/tecur.pdf,2850AD,FFFFFF
15,MTA NYCT,F,F,Queens Blvd Express/ 6 Av Local,1,Trains operate at all times between Jamaica-17...,http://web.mta.info/nyct/service/pdf/tfcur.pdf,FF6319,NaN
16,MTA NYCT,FS,S,Franklin Avenue Shuttle,1,Train provides full time connecting service be...,http://web.mta.info/nyct/service/pdf/tscur.pdf,NaN,NaN
17,MTA NYCT,FX,FX,Brooklyn F Express,1,Trains operate rush hour only between Jamaica-...,http://web.mta.info/nyct/service/pdf/tfcur.pdf,FF6319,NaN
18,MTA NYCT,G,G,Brooklyn-Queens Crosstown,1,"Trains operate between Court Square, Queens an...",http://web.mta.info/nyct/service/pdf/tgcur.pdf,6CBE45,NaN
19,MTA NYCT,GS,S,42 St Shuttle,1,Operates in Manhattan between Grand Central an...,http://web.mta.info/nyct/service/pdf/t0cur.pdf,6D6E71,NaN
20,MTA NYCT,H,S,Rockaway Park Shuttle,1,Service operates at all times between Far Rock...,http://web.mta.info/nyct/service/pdf/thcur.pdf,NaN,NaN
21,MTA NYCT,J,J,Nassau St Local,1,Trains operate weekdays between Jamaica Center...,http://web.mta.info/nyct/service/pdf/tjcur.pdf,996633,NaN
22,MTA NYCT,L,L,14 St-Canarsie Local,1,"Trains operate between 8 Av/14 St, Manhattan, ...",http://web.mta.info/nyct/service/pdf/tlcur.pdf,A7A9AC,NaN
23,MTA NYCT,M,M,Queens Blvd Local/6 Av Local,1,Trains operate between Middle Village-Metropol...,http://web.mta.info/nyct/service/pdf/tmcur.pdf,FF6319,NaN
24,MTA NYCT,N,N,Broadway Local,1,"Trains operate from Astoria-Ditmars Boulevard,...",http://web.mta.info/nyct/service/pdf/tncur.pdf,FCCC0A,NaN
25,MTA NYCT,Q,Q,Broadway Express,1,"Trains operate between 96 St-2 Av, Manhattan, ...",http://web.mta.info/nyct/service/pdf/tqcur.pdf,FCCC0A,NaN
26,MTA NYCT,R,R,Broadway Local,1,Trains operate local between Forest Hills-71 A...,http://web.mta.info/nyct/service/pdf/trcur.pdf,FCCC0A,NaN
27,MTA NYCT,SI,SIR,Staten Island Railway,2,Service runs 24 hours a day between the St Geo...,http://web.mta.info/nyct/service/pdf/sircur.pdf,NaN,NaN
28,MTA NYCT,W,W,Broadway Local,1,"Trains operate from Astoria-Ditmars Boulevard,...",http://web.mta.info/nyct/service/pdf/twcur.pdf,FCCC0A,NaN
29,MTA NYCT,Z,Z,Nassau St Express,1,Trains operate weekday rush hours only. During...,http://web.mta.info/nyct/service/pdf/tjcur.pdf,996633,NaN

In [6]:
df = pd.read_csv("gtfs_subway/shapes.txt")
df

       shape_id  shape_pt_sequence  shape_pt_lat  shape_pt_lon
0       1..N03R                  0     40.702068    -74.013664
1       1..N03R                  1     40.703199    -74.014792
2       1..N03R                  2     40.703226    -74.014820
3       1..N03R                  3     40.703253    -74.014846
4       1..N03R                  4     40.703280    -74.014870
...         ...                ...           ...           ...
176477  SI.S31R                685     40.513696    -74.250493
176478  SI.S31R                686     40.513579    -74.250706
176479  SI.S31R                687     40.513458    -74.250917
176480  SI.S31R                688     40.513334    -74.251124
176481  SI.S31R                689     40.512764    -74.251961

[176482 rows x 4 columns]

In [7]:
df = pd.read_csv("gtfs_subway/transfers.txt")
df

    from_stop_id to_stop_id  transfer_type  min_transfer_time
0            101        101              2                180
1            103        103              2                180
2            104        104              2                180
3            106        106              2                180
4            107        107              2                180
..           ...        ...            ...                ...
611          S01        A45              2                180
612          S01        S01              2                180
613          S03        S03              2                180
614          S04        239              2                180
615          S04        S04              2                180

[616 rows x 4 columns]